<ngt-color *args="['#041118']" attach="background" />

<ngt-ambient-light [intensity]="0.5" />
<ngt-directional-light [position]="[2, 3, 4]" [intensity]="1.1" />
<ngt-point-light [position]="[-2.5, 0.5, 1.5]" [intensity]="1.9" [color]="'#5ad9ff'" />

<ngts-orbit-controls [options]="{ minDistance: 3, maxDistance: 14, enablePan: false }" />

<ngt-group>
	@for (star of backgroundStars(); track star.id) {
		<ngt-mesh [position]="star.position" [scale]="star.scale">
			<ngt-sphere-geometry *args="[1, 6, 6]" />
			<ngt-mesh-basic-material
				[color]="star.color"
				[transparent]="true"
				[opacity]="star.opacity"
				[depthWrite]="false"
			/>
		</ngt-mesh>
	}
</ngt-group>

<ngt-group [position]="[0, 0, -1.5]">

	@for (sample of asteroidSamples(); track sample.id) {
		<app-asteroid
			[asteroidId]="sample.id"
			[position]="sample.position"
			[scanProgress]="sample.scanProgress"
			[scanned]="sample.scanned"
			(hoverChange)="onAsteroidHoverChange($event)"
		/>
	}
</ngt-group>


