<ngt-color *args="['#041118']" attach="background" />

<ngt-ambient-light [intensity]="0.5" />
<ngt-directional-light
	[position]="sunScenePosition()"
	[intensity]="solarDirectionalLightIntensity()"
	[color]="sunConfig().color"
/> 
<ngt-point-light [position]="[-2.5, 0.5, 1.5]" [intensity]="1.9" [color]="'#5ad9ff'" />

<ngts-orbit-controls [options]="{ minDistance: 3, maxDistance: 14, enablePan: false }" />

<app-background-stars [count]="512" [seed]="70411" [radiusMin]="18" [radiusMax]="44"></app-background-stars>
<app-sol [position]="sunScenePosition()" [sunColor]="sunConfig().color" [radius]="sunConfig().radius" />

<ngt-group [position]="[0, 0, -1.5]">

	@for (sample of asteroidSamples(); track sample.id) {
		<app-asteroid
			[asteroidId]="sample.id"
			[position]="sample.position"
			[targetingHold]="targetHoldCandidateId() === sample.id"
			[targeted]="targetedAsteroidId() === sample.id"
			[scanProgress]="sample.scanProgress"
			[scanned]="sample.scanned"
			[revealedMaterial]="sample.revealedMaterial"
			[revealedKinematics]="sample.revealedKinematics"
			[revealedLocation]="sample.scanned ? sample.solarSystemLocation : null"
			[revealedClusterCenterKm]="sample.scanned ? sample.clusterCenterKm : null"
			(hoverChange)="onAsteroidHoverChange($event)"
			(pointerButtonDown)="onAsteroidRightPointerDown($event)"
			(pointerButtonUp)="onAsteroidRightPointerUp($event)"
		/>
	}

	@if (targetedAsteroidPosition(); as targetPosition) {
		<ngt-group [position]="targetPosition">
			<ngt-mesh [rotation]="[Math.PI / 2, 0, 0]">
				<ngt-torus-geometry *args="[1.34, 0.02, 12, 64]" />
				<ngt-mesh-basic-material
					[color]="'#ff3535'"
					[transparent]="true"
					[opacity]="0.94"
					[depthWrite]="false"
				/>
			</ngt-mesh>

			<ngt-mesh [rotation]="[0, 0, 0]">
				<ngt-box-geometry *args="[2.8, 0.03, 0.03]" />
				<ngt-mesh-basic-material
					[color]="'#ff3535'"
					[transparent]="true"
					[opacity]="0.9"
					[depthWrite]="false"
				/>
			</ngt-mesh>

			<ngt-mesh [rotation]="[0, 0, Math.PI / 2]">
				<ngt-box-geometry *args="[2.8, 0.03, 0.03]" />
				<ngt-mesh-basic-material
					[color]="'#ff3535'"
					[transparent]="true"
					[opacity]="0.9"
					[depthWrite]="false"
				/>
			</ngt-mesh>
		</ngt-group>
	}
</ngt-group>


